:host {
  .header-wrapper {
    padding: 24px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__exchange-rate {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4px;
    }
  }
}