<div class="header-wrapper">
  <h2 class="title">Converter</h2>
  <span>Exchange rates are updated every 5 seconds</span>
  <div *ngIf="(exchangeRates$ | async) as exchangeRates" class="header-wrapper__exchange-rate">
    <lib-exchange-rate
      [from]="exchangeRates[exchangeRateCodes.USD]"
      [to]="exchangeRates[exchangeRateCodes.UAH]"
    >
    </lib-exchange-rate>
    <lib-exchange-rate
      [from]="exchangeRates[exchangeRateCodes.EUR]"
      [to]="exchangeRates[exchangeRateCodes.UAH]"
    >
    </lib-exchange-rate>
  </div>
</div>